body {
    margin: 1%;
    padding: 1%;
    border: solid;
    font-family: sans-serif;
}

.profile {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
    .profile {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.profile img {
    height: 10vh;
    width: 10vh;
    border: solid;
    border-color: black;
    border-radius: 50%;
}

hr {
    width: 100%;
    text-align: left;
    margin-left: 0
}

.info {
    color: rgb(50, 45, 128);
}

.info span {
    color: grey;
    font-size: 12px;
}

.about {
    text-align: justify;
}

.about h3 {
    font-size: 14px;
    color: rgb(50, 45, 128);
    padding-bottom: 0;
    margin-bottom: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}
@media only screen and (max-width: 600px) {
    .title {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.block .details {
    font-size: small;
}

.skill {
    font-size: small;
    display: flex;
    flex-direction: column;
}

.skill ul {
    margin-top: 0;
    padding-top: 0;
}

.skill lI {
    text-overflow: clip;
}

@media only screen and (max-width: 400px) {
    ul,li {
        padding: 1%;
    }
}